{% extends 'base.html' %}
{% load static %}
{% block main_content %}



    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table comman-shadow">
                        <div class="card-body">

                            <div class="page-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="page-title">Book's</h3>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table
                                    class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                                    <thead class="student-thread">
                                        <tr>
                                            <th>Book Name</th>
                                            <th>Author Name</th>
                                            <th>Price</th>
                                            <th>Time Period</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for S_data in book %}
                                        <tr>
                                            
                                            <td>{{S_data.Book_Name}}</td>
                                            <td>{{S_data.Author_Name}}</td>
                                            <td>{{S_data.Price}}</td>
                                            <td>{{S_data.Time_Period}}</td>
                                            <td> <a href="{% url 'book_delete' book_name=S_data.Book_Name %}"> Delete</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <p>Copyright © 2022 Dreamguys.</p>
        </footer>

    </div>

</div>


{% endblock %}